html,
body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background: #E5DFD1;
    overflow: hidden;
}

#content {
	width: 60%;
	margin: 0 auto;
}
